@model Course
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">"@Model.Name" adlı kursu silmək istəyidiyinizdən əminsiniz?</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <button type="submit" class="btn btn-danger mr-2">Bəli</button>
                    <a asp-action="Index" class="btn btn-light">Geri Qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
